.artist{
  &-container {
    a {
      font-weight: bolder;
      text-decoration: none;
    }
  }

  &-image {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    line-height: 150px;
    margin: auto;
    width: 60%;

    a {
      
    }
  }
}