.cover{
  &-container {
    a {
      font-weight: bolder;
      text-decoration: none;
    }
  }

  &-image {
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    margin: auto;
    width: 150px;
  }

  &-valign {
    display: table-cell;
    vertical-align: middle;
  }

  &-name {
    color: white;
  }
}